@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <base href="@Url.Content("~/")">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script type="text/javascript">
    var g_baseHANAUrl = '@System.Configuration.ConfigurationManager.AppSettings["baseHANAUrl"]'
    var AppRateServiceUri = '@System.Configuration.ConfigurationManager.AppSettings["RateThisAppSrv"]';
    var g_BonusUrl = '@System.Configuration.ConfigurationManager.AppSettings["BonusURL"]';
    var g_BaseProfileImageUrl = '@System.Configuration.ConfigurationManager.AppSettings["BaseProfileImageUrl"]';
    var g_BaseDPNProfile = '@System.Configuration.ConfigurationManager.AppSettings["BaseDPNProfile"]';
    var g_SOBSTalentLink = '@System.Configuration.ConfigurationManager.AppSettings["SOBSTalentLink"]';
    var g_AnalyticsAccountKey = '@System.Configuration.ConfigurationManager.AppSettings["AnalyticsAccountKey"]';
    var g_myInformation = '@System.Configuration.ConfigurationManager.AppSettings["MyInformation"]';
    var g_AccessEmailURL = '@System.Configuration.ConfigurationManager.AppSettings["AccessEmailURL"]';
    var g_ResetPassword = '@System.Configuration.ConfigurationManager.AppSettings["ResetPassword"]';
    var g_ResetPin = '@System.Configuration.ConfigurationManager.AppSettings["ResetPin"]';
    var g_ReportVoilation = '@System.Configuration.ConfigurationManager.AppSettings["ReportVoilation"]';
    var g_DeloitteNet = '@System.Configuration.ConfigurationManager.AppSettings["DeloitteNet"]';
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    @Scripts.Render("~/bundles/vendorGraphs")

    @Scripts.Render("~/bundles/vendors")
    @Styles.Render("~/bundles/vendorstyles")
    @Styles.Render("~/bundles/commonStyles")
    @Styles.Render("~/bundles/allpageStyles")

    <link href="//ratethisapp.deloitte.com/rateThisAppService/scripts/latest/_assets/ratethisapp.min.css" rel="stylesheet" />
    <link href="//ratethisapp.deloitte.com/rateThisAppService/scripts/latest/_assets/ratethisapp-responsive.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/rateAppStyles")
    <link rel="stylesheet" type="text/css" href="~/App/logout/styles/logoutStyles.css" />
    <link rel="stylesheet" type="text/css" href="~/App/core/styles/print-page-break.min.css" media="print" />
</head>
<body>
   
    <script src="//ratethisapp.deloitte.com/rateThisAppService/scripts/latest/src/jquery.ratethisapp.js"></script>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/app")




</body>
</html>
